*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
 
header, main, footer {
  width: 70%;
  margin: 0 auto;

}

.bigger {
  font-size: 25px;
  
}

.darker {
  background-size: cover;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 10px;
  color: white;
}

/*********** /GLOBAL ************/
/*********** HEADER *************/

.banner, .jumbotron {
  margin-bottom: 25px;
}

.banner {
  background-color: #E47BE4;
  /* height: 130px; */
  margin-bottom: 30px;
}

.image {
  display: inline-block;
  width: 15%;
  padding: 10px;
  border-right: 1px solid #EEEEEE ;
}

.list {
  list-style-type:none;
  display: inline-block;
}

.list > li {
  float: left;
  margin-right: 15px;
  padding: 20px 0;
}

.list>li>button {
  border: none;
  background: none;
  color: #EBEBEB;
}

.list>li>button:hover, .list>li>button:visited {
  color: darkred;
}

/* JUMBOTRON */

.jumbotron {
  background-image: url("../img/banner.jpg");
  background-position: center;
  width: 100%;
  height: 450px;
  background-size: cover;
  border-radius: 10px;
}

.jumbo-text {
  height: 450px;
  padding: 25% 35% 10% 40px;
  color: white;
}



/************* /HEADER *************/
/*************** MAIN **************/

.banner-main, .credits{
  margin-bottom: 20px;

}

.container-main{
  height: 600px;
  background-color: #0186FD ;
  padding-bottom: 15px;
  margin-bottom: 10px;

}

.banner-main{
  height: 75px;
  background-color: #ABCFE7;
}

.banner-main > h1{
  font-family: 'Montserrat', sans-serif;
}

.banner-main > p{
  color:#919191;
}

.three-pannels{
  width: 100%;
  height: 100%;
}

.pannel{
  height: 81%;
  float: left;
  min-width: 20%;
  background-color: #ABCFE7;
}

.mid.pannel{
  width: 56%;
  margin: 0 2%;
}


/************** /MAIN ***************/
/************** FOOTER ***************/

.credits{
  height: 50px;
  background-color: #8801FE;
}